.button {
    margin-top: auto;
    padding: 7px 15px;
    border: 1px solid #333;
    background: transparent;

    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-decoration: none;

    &:hover {
        background-color: #333;
        color: #fff
    }
}