.blog__posts-item {
    margin: 0;
    position: relative;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    // background-color: #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    text-align: center;
}

.blog__post-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter:opacity(0.5)
}