.exit-key {
    padding-top: 5px;
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 100%;
    background-color: #ddd;

    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background-color: #eee;
    }

    svg {
        transform: translate(-2px, -1px);
    }
}